.header {
  background-color: #fff;
  padding: 20px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
}

.logo {
  height: 60px;
  width: auto;
}

.nav {
  display: flex;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-right: 20px;
  display: inline;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.right-options {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.profile-link {
  text-decoration: none;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: #f9f9f9;
  max-width: 400px;
  margin: 0 auto;
}

.search-input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 16px;
  width: 400px;
}

.search-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}
